@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #C13584 !important;
  background-color: #C13584 !important;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after {
  background-color: #ffffff !important;
}

.ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus+.ant-radio-inner {
  border-color: #C13584 !important;
}

.ant-radio-checked::after {
  border-color: #C13584 !important;
}